.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.mr-8 {
  margin-left: 8px;
}
.mb-15 {
  margin-bottom: 15px;
}
textarea {
  resize: none;
}
.post-body-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 5px;
  text-overflow: ellipsis;
}
[data-theme="dark"] .site-layout-content {
  background: #141414;
}
.post-card {
  width: 60%;
  margin-bottom: 20px;
  box-shadow: 0px 7px 15px -1px rgba(176, 176, 176, 0.75);
  -webkit-box-shadow: 0px 7px 15px -1px rgba(176, 176, 176, 0.75);
  -moz-box-shadow: 0px 7px 15px -1px rgba(176, 176, 176, 0.75);
}
.title-header {
  white-space: nowrap;
  overflow: hidden;
  padding: 25px;
  text-overflow: ellipsis;
}
